{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BucketBuddy</title>
    <link rel="stylesheet" href="{% static 'homepagestyle.css' %}">
</head>
</head>
<body>
    <!-- Header -->
    <header class="header">
        <h4>User: {{user.username}}</h4>
        <div class="container">
            
            <h1 class="logo">BucketBuddy</h1>
            <nav class="main-nav">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="home/list">My Bucket List</a></li>
                    <li><a href="home/create">Create</a></li>
                    
                </ul>
            </nav>
        </div>
    </header>

    <!-- Main Content -->
    <main class="main">
        <div class="container">
            <h2>Welcome to BucketBuddy</h2>
            <p>Organize and manage your bucket list items with ease.</p>
            <a href="home/create" class="btn">Get Started</a>
        </div>
    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 BucketBuddy. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>